body, html {
  background-color: #2d3036;
}

.App {
  font-size: calc(10px + 2vmin);
  color: rgb(243, 243, 243);
  text-align: center;
  height: 100%;
}

.App-header {
  padding: 24px;
  border-bottom: 1px solid rgba(87, 87, 87, 0.575);
}

.App-nav, button {
  font-size: calc(5px + 2vmin);
  border: unset;
  background-color: unset;
  color: rgb(243, 243, 243);
  cursor: pointer;
}

.App-nav, button:hover {
  color: rgb(104, 104, 104);
}

.app-nav, ul > li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.app-nav, li {
  padding: 0px 8px 0px 8px;
}

.app-nav, ul {
  padding: 0px;
}

.App-photo {
  height: 120px;
}

main {
  background-color: #32353a;
  width: 80%;
  margin: auto;
  min-height: 500px; 
}